  /* Additional CSS to style the flip effect */
  h1, h2 {
    font-family: 'Inter Tight', sans-serif;
   font-size: 60px;    
}
h4{
   font-family: 'Inter Tight', sans-serif;
   font-size: 50px;  
   text-shadow: #000 2px 2px 2px;
}
h4 .moon-img{
   font-family: 'Inter Tight', sans-serif;
   font-size: 50px;  
   text-shadow: #000 2px 2px 2px;
   padding-top: -2%;
}
gradient1{
    background: linear-gradient(210deg, #fb0094, #932687, #fb0094);
    color: transparent;
    -webkit-background-clip: text;
    animation: colour-animate 30s linear infinite;
}

.spaceship-img {
    margin: 0%;
    position: relative;
    height: 250px;
    width: 250px;
    background-image: url("../images/quizzes.png");
    background-repeat: no-repeat, repeat;
    background-size: 250px;
    background-size: 250px;
    
}

.moon-img {
    position: relative;
    height: 250px;
    width: 250px;
    background-image: url("../images/flashcards.png");
    background-repeat: no-repeat, repeat;
    background-size: 250px;
    background-size: 250px;
}

.alien-img {
    position: relative;
    height: 250px;
    width: 250px;
    background-image: url("../images/pronunciation.png");
    background-repeat: no-repeat, repeat;
    background-size: 250px;
    background-size: 250px;
}

 /*This CSS code is defining the styles for a container that holds text*/
 .text-container {
    margin-top:20%;
    margin-right: 30px;
    color: rgb(255, 255, 255);
    left: 18rem;
    top: 2rem;
    /* background-color: rgb(41, 41, 41, 0.8); */
    padding: 0 1rem;
}

/* CSS Button*/

.button-20 {
appearance: button;
background-color: #932687;
background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
border:none;
border-radius: 1rem;
box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
letter-spacing: 2.5px;
font-family: 'Roboto',sans-serif;
font-size: 0.8rem;
line-height: 1.5;
margin: 0;
padding: .5rem 1rem;
text-align: center;
text-transform: uppercase;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
outline: 0;
}

.button-20:hover {
background-color: #cd2572;
border-color: #c521a6;
transform: scale(1.05);
box-shadow: 0px 15px 20px rgba(211, 38, 115, 0.4);
color:#FFFFFF;
text-decoration: none;
}


.button-20:focus {
background-color: #cd2572;
border-color: #c521a6;
text-decoration: none;
box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
background-color: #cd2572;
background-image: none;
border-color: #c521a6;
box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(215, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
background-image: none;
box-shadow: none;
opacity: .65;
pointer-events: none;
}

a.one:link {
color: white;
background-color: transparent;
text-decoration: none;
text-transform: uppercase;
}

a.one:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

a.one:hover {
color: white;
background-color: transparent;
text-decoration: none;
text-transform: uppercase;
}

a.one:active {
color: white;
background-color: transparent;
text-decoration: none;
}

.custom-shape-divider-bottom-1694687427 {
position: fixed;
bottom: 0;
left:0;
width: 100%;
overflow: hidden;
line-height: 0;
transform: rotate(180deg);
z-index: -1;
}

.custom-shape-divider-bottom-1694687427 svg {
position: relative;
display: block;
width: calc(144% + 1.3px);
height: 290px;
z-index: -1;
}

.custom-shape-divider-bottom-1694687427 .shape-fill {
fill:   #000;

}    

a.two:link {
color: white;
background-color: transparent;
text-decoration: none;
text-transform: uppercase;
}

a.two:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

a.two:hover {
color: rgb(179, 179, 179);
background-color: transparent;
text-decoration: none;
text-transform: uppercase;
}

a.two:active {
color: white;
background-color: transparent;
text-decoration: none;
}

a.logout:link {
color: #932687;
background-color: transparent;
text-decoration: none;

}

a.logout:visited {
color: #932687;
background-color: transparent;
text-decoration: none;
}

a.logout:hover {
color: #000;
background-color: transparent;
text-decoration: none;

}

a.logout:active {
color:#932687;
background-color: transparent;
text-decoration: none;
}


a.plus:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
   
  }
  
  a.plus:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a.plus:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a.plus:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

/* Card Style for FlashCards */
.card{
    border: none;
}
.card-flip {
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 1000px;
    cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.card-title{
    font-family: 'Inter-tight', sans-serif;
    font-size: 36px ;
}
.card-text{
    font-family: 'Inter-tight', sans-serif;
    font-size: 26px ;
}

.card-add {
    background: #f5f5f5;
    color: #ddd;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 10px;
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
    padding-top: 10%;
    text-align: center;
    
    
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding-top: 10%;
    text-align: center;
    height: 100%;
    width: 100%;
    
}

.card-front {
    transform: rotateY(0deg);
    background: #f5f5f5;
    color: #ccc;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 10px;
    
}

.card-back {
    transform: rotateY(180deg);
    background: #f5f5f5;
    color: #ccc;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 10px;
    
}

.card-clicked .card-inner {
    transform: rotateY(180deg);
    height: 200px;
    width: 300px;
}

/* Initially hide the delete button */
.delete-button {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.card:hover .delete-button {
    /* Display the delete button on hover */
    display: block;
}

.delete-button:hover {
    color: darkred;
}

/* Quiz stuff */
.quiz-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.quiz-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.quiz-card-details {
    font-size: 1rem;
    font-style: italic;
    color: #555;
}

.create-quiz-button {
    float: right;
    margin-top: -40px;
}

.create-quiz-message a {
    text-decoration: underline;
}